.base{
    width: 800px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
}
.base div.slider{
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.base .slider>ul>li{
    z-index: 0;
    position: absolute;
}
.base ul{
    width: 800px;
}


